{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Web Chat Boards</a></li>
        <li class="breadcrumb-item active">{{ chat_board.name }}</li>

{% endblock %}

{% block content %}

<div class="mb-4">
  <a href="{% url 'new_board_topic' chat_board.pk %}" class="btn btn-primary">New topic</a>
</div>

<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Board Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td><a href="{% url 'topic_posts' chat_board.pk topic.pk %}">{{ topic.subject }}</td>
          <td>{{ topic.boardStarter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td>{{ topic.lastUpdate }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
