{% extends 'base.html' %}

{% block title %}Changed Password successful{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'password_change' %}"></a>Change password</li>
    <li class="breadcrumb-item active">Success</li>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    <strong>Success!!</strong>Ypur password has been changed.
</div>
<a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}